body {
    background-image: url("../img/bg6.jpg");
    background-size: cover;
    /*background-color: #000; */
    height: 100vh;
}

/* SECTION-1 */
.section1 {
    margin-top: 20px;
}

.slide-img {
    width: 100%;
    height: 400px;
    max-height: 400px;
}

.clock-box {
    height: 370px;
    max-height: 370px;
    padding-top: 20px;
    text-align: center;
    background-color: #222;
}

.time {
    font-size: 80px;
    font-weight: 700;
    background-color: #222;
    color: #F7BC05;
}

.day {
    font-size: 30px;
    font-weight: 500;
    color: #148fce;
}

.kawasan {
    font-size: 20px;
    color: #fff;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn:hover {
    color: #F7BC05; 
}

/* SECTION-2 */
.waktu-head {
    font-size: 20px;
    font-weight: 700 !important;
    text-align: center;
    text-transform: uppercase;
    color: #fff !important;
    background-color: #666 !important;
}

.waktu-body {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    background-color: #222;
    color: #148fce;
}

.panel.panel-default {
    opacity: 0.8;
}


/* SECTION-3 */
.section3 {
    text-align: center;
    font-size: 20px;
}

.pesanan {
    background-color: #222 !important;
    color: #fff;
    opacity: 0.8;
}
